*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: "Freight big pro";
}
html, body{
    height: 100%;
    width: 100%;

}
#main{
    background-color: black;
}
#loader{
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 99;
}
#loader video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 6;
}

#loader h1{
     font-size: 6.9vw;
    line-height: 5.5vw;
    font-weight: 100;
    letter-spacing: -2px;
    position: relative;
    z-index: 9;
}
#yellow1{
   height: 100%;
   width: 100%;
   background-color: #f5e41b; 
   position: absolute;
   z-index: 8;
}
#yellow2{
   height: 100%;
   width: 100%;
   background-color: #f5e41b; 
   position: absolute;
   z-index: 7;
}
#nav{
    position: absolute;
    width: 100%;
    padding:20px 4px ;
    z-index: 10;
/* height: 2vh; */
/* background-color: red; */

}

#page1{
    height: 100vh;
    width: 100%;
    background-color:#f5e41b;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#page1 h1{
    font-size: 6.9vw;
    line-height: 5.5vw;
    font-weight: 100;
    letter-spacing: -2px;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color:black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
}
.elem {
    /* background-color: red; */
    width: 100%;
    position: relative;
    cursor: pointer;
}

.elem h2{ 
    font-size: 7vw;
text-transform: uppercase;
font-weight: 100;
position: relative;
z-index: 9;
line-height: 5vw;
/* color: black; */

}
.elem .moving   {
    background-color: #f5e41b;
    width: 100%;
    white-space: nowrap;
    padding: 8px 0;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    opacity: 0;
transition: all ease 0.2s;
transform: translate(0,-45%) scaleY(0);
}
.elem .moving .moving-in{
white-space: nowrap;
    display: inline-block;
    animation-name: moving;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.elem .moving .moving-in h5{
    color: black;
    display: inline-block;
    font-size: 19px;
    font-family: gilroy;
    text-transform: uppercase;
    margin-right: 20px;
    font-weight: 500;
    transition: all ease 0.5s;
    transition-delay: 0.3s;
}
@keyframes moving {
    from{
        transform: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
}

.elem:hover .moving{ 
  transform: translate(0,-45%) scaleY(1);
}
.elem:hover .moving{ 
opacity: 1;
}

.elem:hover h2{
    font-style: italic;
}


#page3{
   min-height: 100vh;
    width: 100%;
    background-color:white;
}
.image-container{
  
padding: 30px;
display: flex;
align-items: flex-start;
flex-wrap: wrap;

}

.image-div {
height: 40vw;
width: 30vw;
background-color: red;
position: relative;
overflow: hidden;
margin: 40px 10px;


}

.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
      transition: all ease 0.5s;

}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #0000001a;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
padding: 10px;
transition: all ease 0.5s;
z-index: 9;

}
.overlay p{
    font-size: 2.5vw;
    text-transform: uppercase;
    text-align: center;
    color: wheat;
    line-height: 2.5vw;
    transition: all ease 0.5s;
    opacity: 0;
}
.image-div:hover .overlay{
background-color: black;
}
.image-div:hover .overlay p{
    opacity: 1;
}
.image-div:hover img{
    scale: 1.1;
}
#footer{
    height: 40vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 40px;
}
#foot{
    height: 50%;
    width: 100%;
    background-color: black;
}

#footer h2{
text-transform: uppercase;
font-size: 1vw;
cursor: pointer;
}